body,h1,h2,h3,h4,h5,h6,p ,div,input,select,table,ul,ol,li,tr,td,th,dl,dt,dd,form,textarea{
padding:0;
margin:0;
}
body{
font-size:18px;
font-family:宋体,arial;
background:url(image/black.jpg);
}
a{
text-decoration:none;
}

img{
border:0px;
}
h1,h2,h3,h4,h5,h6{
font-size:14px;
font-weight:bold;
}
.lf{
float:left;
}
.lr{
float:right;
}
ul,li,ol{
list-style:none;
}

.top{
	position:fixed;
	width:100%;
	left:0;
	top:0;
	z-index:999;
	height:40px;
	background-color:black;
	background-color:rgba(0,0,0,0.3);
}
.top-bar li{
	float:left;
	margin-right:20px;
	margin-left:20px;
}
.top-bar a{
	color:#EAEAEA;
	font-size:1.3em;
}
.top-bar a:hover{
	color:#EAEAEA;
	text-decoration:none;
}
.top-bar a:focus{
	text-decoration:none;
	color:#EAEAEA;
}



.aboutme{
	width:100%;
	height:650px;
	margin-top:120px;
}
.aboutme>h2>span{
	font-size:2em;
	font-weight:bold;
	text-shadow:0px 0px 10px #FFF;
}
.hello>h2>span{
	font-size: 2em;
    font-weight: bold;
    text-shadow: 0px 0px 10px #FFF;
}

.ch{
  margin-top:17px;
  color:#CCCCCC;
  font-weight:bold;
  width:100%;
}
.ch>p{
	font-size:1.5em;
}
.ch>p>strong{
		color:#D87C2A;
}
.details{
width:50%;
}
.details h3{
	color:#EAEAEA;
	
}
.mess li{
    width:200%;
	background-color:black;
	background-color:rgba(0,0,0,0.3);
	line-height:40px;
	border-radius:30px;
	margin-top:20px;
	text-align:center;
	font-size:1.2em;
	z-index:999;
}
.mess li a{
text-decoration:none;
color:#FFF;
outline:0;
font-weight:bold;
}
.mess li:nth-of-type(1):hover{
	background-color:#A5652C;

}
.mess li:nth-of-type(2):hover{
	background-color:#3B8E58;
}
.mess li:nth-of-type(3):hover{
	background-color:#398B8D;
}
.demo{
	width:100%;
}
.demo>h2>span{
	font-size:2em;
	font-weight:bold;
	text-shadow:0px 0px 10px #FFF;
}
.webpage{
	overflow:hidden;
	margin:0 auto;
	text-align:center;
	margin-bottom:50px;
}

.webpage img{
	max-width:100%;
}

.small{
	width:180px;
	height:50px;
	margin:0 auto;
}
.small img{
	width:50px;
	height:50px;
	float:left;
	border-radius:50%;
	margin-right:10px;
}
.small img:hover{
	cursor:pointer;
}

.section{
	width:100%;
	height:340px;
	margin:0 auto;
	margin-top:20px;
}

.skill li{
	display:block;
	height:40px;
}
.skill li h4{
	line-height:40px;
	margin-left:10px;
}
.skill li:nth-of-type(1){
		width:65%;
		background-color:#DDDDDD;
		border-left:5px solid #AAAAAA;
}
.skill li:nth-of-type(2){
		width:60%;
		background-color:#DDDDDD;
		border-left:5px solid #AAAAAA;
}
.skill li:nth-of-type(3){
		width:55%;
		background-color:#DDDDDD;
		border-left:5px solid #AAAAAA;
}
.skill li:nth-of-type(4){
		width:50%;
		background-color:#DDDDDD;
		border-left:5px solid #AAAAAA;
}
.skill li:nth-of-type(5){
		width:45%;
		background-color:#DDDDDD;
		border-left:5px solid #AAAAAA;
}
.show{
	position:relative;
}
.wode{
	width:305px;
	height:115px;
	z-index:999;
	background-color:#F7FCFF;
	opacity:0.9;
	position:absolute;
	left:170px;
	top:5px;
	border-radius:3%;
	display:none;
}
@-webkit-keyframes fadeIn {
0% {
opacity: 0;
}
50% {
opacity: 0; 
}
100% {
opacity: 1; 
 }
}
.wode{
-webkit-animation-name: fadeIn;
-webkit-animation-duration: 0.5s; 
-webkit-animation-iteration-count: 1;
-webkit-animation-delay: 0s; 
}
.wode p{
	margin-left:10px;
}
.show:hover>.wode{
	display:block;
}
.list-item{
	position:relative;
}
.list1{
	width:260px;
	height:85px;
	z-index:999;
	background-color:#F7FCFF;
	opacity:0.9;
	position:absolute;
	left:170px;
	top:5px;
	border-radius:3%;
	display:none;
}
@-webkit-keyframes fadeIn {
0% {
opacity: 0;
}
50% {
opacity: 0; 
}
100% {
opacity: 1; 
 }
}
.list1{
-webkit-animation-name: fadeIn;
-webkit-animation-duration: 0.5s; 
-webkit-animation-iteration-count: 1;
-webkit-animation-delay: 0s; 
}
.list1 p{
	margin-left:10px;
}
.list-item:hover>.list1{
	display:block;
}

.list-item2{
	position:relative;
}
.list2{
	width:270px;
	height:85px;
	z-index:999;
	background-color:#F7FCFF;
	opacity:0.9;
	position:absolute;
	left:170px;
	top:5px;
	border-radius:3%;
	display:none;
}
@-webkit-keyframes fadeIn {
0% {
opacity: 0;
}
50% {
opacity: 0; 
}
100% {
opacity: 1; 
 }
}
.list2{
-webkit-animation-name: fadeIn;
-webkit-animation-duration: 0.5s; 
-webkit-animation-iteration-count: 1;
-webkit-animation-delay: 0s; 
}
.list2 p{
	margin-left:10px;
}
.list-item2:hover>.list2{
	display:block;
}

.list-item3{
	position:relative;
}
.list3{
	width:200px;
	height:55px;
	z-index:999;
	background-color:#F7FCFF;
	opacity:0.9;
	position:absolute;
	left:170px;
	top:5px;
	border-radius:3%;
	display:none;
}
@-webkit-keyframes fadeIn {
0% {
opacity: 0;
}
50% {
opacity: 0; 
}
100% {
opacity: 1; 
 }
}
.list3{
-webkit-animation-name: fadeIn;
-webkit-animation-duration: 0.5s; 
-webkit-animation-iteration-count: 1;
-webkit-animation-delay: 0s; 
}
.list3 p{
	margin-left:10px;
}
.list-item3:hover>.list3{
	display:block;
}
.list-item4{
	position:relative;
}
.list4{
	width:220px;
	height:55px;
	z-index:999;
	background-color:#F7FCFF;
	opacity:0.9;
	position:absolute;
	left:170px;
	top:5px;
	border-radius:3%;
	display:none;
}
@-webkit-keyframes fadeIn {
0% {
opacity: 0;
}
50% {
opacity: 0; 
}
100% {
opacity: 1; 
 }
}
.list4{
-webkit-animation-name: fadeIn;
-webkit-animation-duration: 0.5s; 
-webkit-animation-iteration-count: 1;
-webkit-animation-delay: 0s; 
}
.list4 p{
	margin-left:10px;
}
.list-item4:hover>.list4{
	display:block;
}

.work{
	margin-top:30px;
	margin-bottom:100px;
}
.work>h2>span{
	font-size:35px;
	font-weight: bold;
    text-shadow: 0px 0px 10px #FFF;
	margin-top:10px;
}
.work p{
	margin-left:30px;
	font-size:18px;
	color:#EAEAEA;
}